@{
    ViewBag.Title = "About";
}

<div class="hero-unit" style="text-align:center;">
<hgroup class="title">
    <h1>@ViewBag.Title</h1>
    <h2>Sebastian Semester Scheduling System</h2>
</hgroup>
    <article>
        <p style="text-align:center; width:650px; margin: 0px auto;">
            The purpose of this project is to design an application that will help make the task of creating semester schedules for Southeastern easier. The functionality will aid in preventing, as well as correcting, user error. The application needs to be simplistic in design but also visually pleasing to the user.
        </p>
    </article>

</div>

<div id="footer-content" style="text-align:center; margin: 0px auto;" class="default-3-5">
    <h5>Contributors:</h5>
    <p>
        Lance Ugalde, Zachary Bergeron, Paul Patorno, Edward Don-Jordon, and Milton Gibson.
    </p>
</div>


   
