@{
    ViewBag.Title = "Contact";
}

<div class="hero-unit" style="padding-bottom:20%; margin: 0px auto; width:600px; padding-top:.3%;">

    <div style="width:200px" class="contact floatLeft">
        <header>
            <h3>Phone</h3>
        </header>
        <p>
            <span class="label">Main:</span>
            <span>(985) 549-2189</span>
        </p>
    </div>

    <div style="width:200px" class="contact floatLeft">
        <header>
            <h3>Email</h3>
        </header>
        <p>
            <span class="label">Support:</span>
            <span><a href="mailto:support@selu.edu">support@selu.edu</a></span>
        </p>
        <p>
            <span class="label">General:</span>
            <span><a href="mailto:general@selu.edu">svandelden@selu.edu</a></span>
        </p>
    </div>

    <div style="width:200px" class="contact floatLeft">
        <header>
            <h3>Address</h3>
        </header>
        <p>
            Fayard Hall, Room 307<br />
            Southeastern Louisiana University
            Hammond, LA 70402
        </p>
    </div>
</div>